<div layout="column" ng-cloak class="layout layout-sm layout-sm-column">
	<form name="vm.publishform">
		<md-content layout-padding layout="row" layout-sm="column">
			<md-input-container flex>
			<label>Video URL:</label>
			<input ng-model="vm.url" ng-required="true" ng-pattern="/watch\?v=([a-zA-Z0-9\-_]+)/">
		</md-input-container>
		<md-input-container flex>
			<label>Comment:</label>
			<input ng-model="vm.comment" type="text" ng-required="true">
		</md-input-container>
			<md-input-container flex="20">
				<md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="vm.publish()">Tweet</md-button>
			</md-input-container>
		</md-content>
	</form>
</div>